# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Build related
build/
flutter_build/
!build/web/assets//  # Include any custom assets in web builds

# Android related
android/.gradle/
android/app/google-services.json
android/app/src/debug/
android/app/src/profile/
android/app/src/main/res/drawable/
android/app/src/main/res/raw/
android/local.properties
android/.idea/
*.keystore
*.jks

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/Generated.xcconfig
ios/.generated/
ios/.dart_tool/
*.xcuserdatad/
*.xcuserdata/
*.xcodeproj/

# macOS related
macos/Pods/
macos/.flutter-plugins
macos/Flutter/GeneratedPluginRegistrant.swift
macos/.dart_tool/
macos/.flutter-plugins-dependencies

# Linux related
linux/flutter/ephemeral/
linux/.dart_tool/
linux/.flutter-plugins
linux/.flutter-plugins-dependencies

# Windows related
windows/flutter/ephemeral/
windows/.dart_tool/
windows/.flutter-plugins
windows/.flutter-plugins-dependencies

# Web related
web/.dart_tool/
web/.flutter-plugins
web/.flutter-plugins-dependencies

# Firebase related
firebase_app_id_file.json
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
.env
lib/Utiles/firebase_options.dart

# VSCode
.vscode/
.history/
*.code-workspace
*.code-workspace.tmp

# JetBrains IDEs
.idea/
*.iml
*.ipr
*.iws

# Crash logs
*.log

# Files generated by Flutter
*.flutter-plugins
*.flutter-plugins-dependencies
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.idea/
GeneratedPluginRegistrant.*

# Other
*.DS_Store
*.swp
*.swo
*.tmp
*.bak
*.lock